body{
background-color: beige;
  
}

#kwadrat1{
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,1);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
    
#kwadrat2{
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.6);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#kwadrat3{
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.4);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#kwadrat4{
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}